{% extends 'base.html' %}
{% block title %}Pyscript Tags Analyzer{% endblock title %}

{% block active %} active{% endblock active %}

{% block content %}
<div class="col-md-8 p-4 text-white">       
    <h4 class="fst-italic">Generate Web Scripts</h4>
    <hr class="bg-light">
    <h1 class="display-4 fst-italic">Enter Website URL</h1>
    <form>
        <div class="form-group">
            <label for="url"></label>
            <input type="text" class="form-control" id="url" aria-describedby="emailHelp" placeholder="Enter Website">
        </div>
        <button type="submit" class="btn btn-primary">Analyze</button>
    </form> 
    </div>
{% endblock content %}

