{% extends 'base.html' %}
{% block title %}Pyscript Tags Analyzer{% endblock title %}

{% block active %} active{% endblock active %}

{% block content %}
<div class="col-md-8 p-4 text-white">       
    <h4 class="fst-italic">Write your Quotation</h4>
    <hr class="bg-light">
    <h1 class="display-4 fst-italic">Enter Website URL - Find Location</h1>
    <form>
        <div class="form-group">
            <label for="url"></label>
            <input type="text" class="form-control" id="url" aria-describedby="emailHelp" placeholder="Enter Website">
        </div>
        <button type="submit" class="btn btn-primary">Analyze</button>
    </form> 
    
    <div class="jumbotron my-4 text-dark">
        <h3 class="display-6">View Your Results...........</h3> <hr>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
   <hr class="my-4 text-dark">   
   <p class="lead">
    <h4 class="fst-italic">Title:</h4> 
    <span>here is the list of your website meta title</span><hr>

    <h4 class="fst-italic">Description: </h4>
    <span> here is the list of your website meta descriptio</span>
    <hr>

    <h4 class="fst-italic">Keyword:</h4>
    <span> here is the list of your website meta keywords</span><hr>
   </p>
  
      </div>
 </div>
{% endblock content %}

